<div class="p-52">
    <form class="form" [formGroup]="registerForm" class="border p-10 bg-slate-100">
      <div class="field">
        <label class="label" class="p-4 text-2xl">Meiliaadress: </label>
        <input class="hover:bg-slate-50" formControlName="email">
      </div>

      <div class="field">
        <label class="label" class="p-4 text-2xl">Password: </label>
        <input type="password" class="hover:bg-slate-50" formControlName="password">
      </div>

      <div class="field" class="p-4">
        <button type="button" class="border-2 rounded border-green-300 bg-green-200" (click)="onSubmit()" >Register</button>
      </div>
    </form>
</div>
<div>
    <router-outlet></router-outlet>
</div>