<form class="form" [formGroup]="registerForm">
  <div class="field">
    <label class="label">Domeeni Nimi</label>
    <input formControlName="domainName">
  </div>
  <div>
    <label class="label">Domeen</label>
    <select class="field" formGroupName="domain">
      <option *ngFor="let types of domainTypes" [ngValue]="types.id">{{types.title}}</option>
    </select>
  </div>
  <div class="field">
    <a routerLink="/enter-data">
      <button type="button" class="button">Register</button>
    </a>
  </div>
</form>